<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>
		<ComponentGroup Id="CleverVpnComponents" Directory="INSTALLFOLDER">
				   <Files Include="!(bindpath.ToBeHarvested)\**" Directory="INSTALLFOLDER">
					<Exclude Files="!(bindpath.ToBeHarvested)\Clever-Vpn.exe"></Exclude>
				</Files>
				<Component Id="CleverVpnExeComponent" Directory="INSTALLFOLDER">
					<File Id="CleverVpnExe" Source="!(bindpath.ToBeHarvested)\Clever-Vpn.exe" KeyPath="yes" />
				</Component>

			<Component Id="SetupCleverVpnServiceControl">
				<ServiceControl
				  Id="ScRemoveBefore"
				  Name="$(var.VpnBrokerService)"
				  Stop="both"
				  Remove="both"
				  Wait="yes" />

				<RegistryValue Root="HKLM"
				   Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
				   Name="service-control"
				   Type="integer"
				   Value="1"
				   KeyPath="yes" />

			</Component>

			<Component Id="SetupCleverVpnShortcuts">

				<!-- Start Menu Shortcut -->
				<Shortcut
				  Id="MyAppStartMenuShortcut"
				  Directory="ProgramMenuFolder"
				  Name="Clever VPN"
				  Advertise="no"
				  Icon="MyIcon"
				  IconIndex="0"
				  Description="Launch Clever VPN"
				  Target="[INSTALLFOLDER]Clever-Vpn.exe"
				  WorkingDirectory="INSTALLFOLDER" />

				<!-- Desktop Menu Shortcut -->
				<Shortcut
				  Id="MyAppDesktopShortcut"
				  Directory="DesktopFolder"
				  Name="Clever VPN"
				  Advertise="no"
				  Icon="MyIcon"
				  IconIndex="0"
				  Description="Launch Clever VPN"
				  Target="[INSTALLFOLDER]Clever-Vpn.exe"
				  WorkingDirectory="INSTALLFOLDER" />

				<RegistryValue Root="HKCU"
				   Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
				   Name="installed-shortcuts"
				   Type="integer"
				   Value="1"
				   KeyPath="yes" />

			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
